<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Arrays_Stings/src/is_unique/is_unique_without_datastructures.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="is_unique.is_unique_without_datastructures"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Arrays_Stings"/>
</launchConfiguration>
